/* Reset all components */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Root component */
/*
>> Main Colors
  #010D26
  #0388A6
  #04ADBF
  #79F2F2
  #FCFDFF
*/
:root {
  --main-color: #79f2f2;
  --sec-color: #04adbf;
  --bg-color: #010d26;
  --bg-color-alt: #0388a6;
  --bg-color-alt-1: #fcfdff;
  --white-color: #ffffff;
  --black-color: #000000;
  --gray-color: #777777;
  --box-shadow-color: #444444;
  --main-transition: 0.2s;
}
/* Global components */
body {
  background-color: var(--bg-color-alt-1);
  font-family: "Fredoka", sans-serif;
}
html {
  scroll-behavior: smooth;
  font-size: 1rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--white-color, #ffffff);
}
.container {
  margin-left: 15px;
  margin-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.icons_container.hide {
  display: none;
}
/* Start header section */
.header {
  height: 4.5rem;
  background-color: var(--main-color);
  box-shadow: 0 0 0.25rem var(--box-shadow-color);
  position: relative;
  z-index: 999;
  margin: 0.5rem;
  border-radius: 0.5rem;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;

    .logo_container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 0 1rem;

      .logo_link {
        transition: var(--main-transition);

        .logo {
          font-size: 2.5rem;
          letter-spacing: 0.25rem;
        }
      }
      .logo_link:hover {
        color: var(--bg-color-alt);
      }
    }

    @media (min-width: 801px) {
      .links_container {
        height: 100%;

        .links {
          display: flex;
          height: 100%;

          .link::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 0.25rem;
            background-color: var(--bg-color-alt);
            bottom: 0;
            left: -100%;
            transition: var(--main-transition);
          }
          .link {
            position: relative;
            display: flex;
            align-items: center;
            padding: 0 0.75rem;
            font-size: 1.1rem;
            font-weight: 500;
            letter-spacing: 0.1rem;
            cursor: pointer;
            overflow: hidden;
            text-align: center;
            transition: var(--main-transition);

            a {
              transition: var(--main-transition);
            }
          }
          .link:hover::before {
            left: -0%;
          }
          .link:hover {
            background-color: var(--bg-color-alt-1);
          }
          .link:hover > a {
            color: var(--bg-color-alt);
          }
        }
        .close {
          display: none;
        }
      }
      .menu_container {
        display: none;
      }
      .icons_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 1rem;
        gap: 1rem;

        .box:nth-child(1) {
          border-right: 0.125rem solid var(--bg-color-alt-1);
          padding-right: 1rem;
        }
        .btn {
          padding: 0.4rem;
          background-color: var(--main-color);
          border-radius: 0.25rem;
          border: 0.125rem solid var(--bg-color-alt-1);
          cursor: pointer;
          transition: var(--main-transition);
          color: var(--white-color);
          font-size: 1rem;
          font-weight: bold;
          width: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: var(--main-transition);
        }
        .search {
          border: none;
          font-size: 1.5rem;
        }
        .lang:hover {
          background-color: var(--bg-color-alt-1);
          color: var(--bg-color-alt);
        }
        .search:hover {
          color: var(--bg-color-alt);
        }
      }
    }

    @media (max-width: 800px) {
      .menu_container {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 2rem;

        .menu_bar {
          width: 2rem;
          height: 2rem;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: center;
          cursor: pointer;

          .bar {
            height: 0.125rem;
            background-color: var(--white-color);
            transition: var(--main-transition);
          }
          .first {
            width: 100%;
          }
          .second {
            width: 80%;
          }
          .third {
            width: 60%;
          }
          .fourth {
            width: 80%;
          }
          .fifth {
            width: 100%;
          }
        }
        .menu_bar:hover > .bar {
          background-color: var(--bg-color-alt);
        }
      }
      .links_container {
        position: fixed;
        background-color: var(--main-color);
        width: 85%;
        top: 0;
        transition: var(--main-transition);
        text-align: center;
        border-radius: 0.5rem;
        box-shadow: 0 0 0.25rem var(--box-shadow-color);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        right: -100%;
        z-index: 999;

        .links {
          display: flex;
          flex-direction: column;
          width: 100%;

          .link {
            position: relative;
            display: flex;
            align-items: center;
            padding: 1rem;
            font-size: 1.2rem;
            cursor: pointer;
            overflow: hidden;
            width: 100%;
            transition: var(--main-transition);

            a {
              margin: 0 auto;
            }
          }
          .link > a {
            transition: var(--main-transition);
          }
          .link:hover > a {
            color: var(--bg-color-alt);
          }
        }

        .close {
          position: absolute;
          top: 1rem;
          right: 1rem;
          font-size: 2rem;
          color: var(--white-color);
          cursor: pointer;
          transition: var(--main-transition);
        }
        .close:hover {
          color: var(--bg-color-alt);
        }
      }
      .links_container.active {
        right: 0%;
      }
      .icons_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 1rem;
        gap: 1rem;
        order: -1;

        .box:nth-child(1) {
          border-left: 0.125rem solid var(--bg-color-alt-1);
          padding-left: 0.75rem;
          order: 1;
        }
        .btn {
          padding: 0.4rem;
          background-color: var(--main-color);
          border-radius: 0.25rem;
          border: 0.125rem solid var(--bg-color-alt-1);
          cursor: pointer;
          transition: var(--main-transition);
          color: var(--white-color);
          font-size: 1rem;
          font-weight: bold;
          width: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: var(--main-transition);
        }
        .search {
          border: none;
          font-size: 1.5rem;
        }
        .lang:hover {
          background-color: var(--bg-color-alt-1);
          color: var(--bg-color-alt);
        }
        .search:hover {
          color: var(--bg-color-alt);
        }
      }
    }
  }
  @media (max-width: 800px) {
    .container {
      margin: 0;
    }
  }
}
